# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive
*.pem
*.key
id_rsa*
secrets/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
